/* src/components/App/App.css */
.app {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

.main-content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
}